.triggerRefEnv{
    width: fit-content;
}

.contentRefEnv{
    width: fit-content;
    height: max-content;
    width: max-content;
    z-index: 2;
}

.hoverCardTrigger {
    cursor: pointer;
    width: fit-content;
}

.hoverCardContents {
    background: wheat;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
}
